@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #FCF5E5;
}

li, a, button {
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color:#353935;
  text-decoration: none;
}

strong {
  font-family: "Public Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color:#353935;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

header h1 {
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #353935;
  margin-left: 20px;
}

.logo {
  cursor: pointer;
  margin-right: 20px;
}

h1 {
  margin-right: auto;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #8ab660;
}

.return__links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.return__links li {
  display: inline-block;
  padding: 0px 20px;
}

.return__links li a {
  transition: all 0.3s ease 0s;
}
  
.return__links li a:hover {
  color: #8ab660;
}

.grin {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.turnText{
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(138, 182, 96, 0.8);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(138, 182, 96, 0.6);
}